body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 0;
	padding: 2vw;

	font-family: arial;
	color: rgba(68,68,68,1);

	overflow-x: hidden;
	overflow-y: hidden;

	background-image: url("../images/arm/miniatureArm.png");
}

#mainPanel{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 50vw;
	height: 50vh;

	font-size: 1.2vw;

	background: radial-gradient(circle, rgba(0,0,0,.9) 0%, rgba(0,0,0,.5) 15%, rgba(0,0,0,.1) 100%);
	border-radius: 2vw;
}

#backToIndex{
	display: flex;
	justify-content: center;
	align-items: center;

	width: 10vw;
	min-width: 150px;
	height: 2vw;
	min-height: 20px;
	border-radius: 2vw;
	font-weight: bold;

	transition: .5s;
	background-color: rgba(0, 0, 0, .1);
}

#backToIndex:hover{
	background-color: rgba(0, 0, 0, .5);
}

#backToIndex a{
	color: #ffaa00;
	text-shadow: rgba(0, 0, 0, 1) 0px 0px 1rem;
	text-decoration: none;
}

.underlined{
	color: #ffaa00;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 1) 0px 0px 1rem;
}

.transition{
	transition: .5s;
}