:root {
	/* System */
	--highlight:               #fa0;
    --font:                    #bbb;
	
    /* Background Gradient */
    --bgg_inner:               #676156;
    --bgg_outter:              #1e1d1c;

    /* Header */
    --hd_background:           #0005;
    --hd_title:                #f77;
    --hd_title_glow:           #f00;
    --hd_highlight:            #7ff;
    --hd_highlight_glow:       #0ff;

    /* Showcase */
    --sc_title:                #000c;
    --sc_highlight:            #fa0;
    --sc_lowlight:             #999;
}