:root {
	/* System */
	--highlight:               #fa0;
	
    /* Background Gradient */
    --bgg_inner:               #676156;
    --bgg_outter:              #1e1d1c;

    /* Header */
    --hd_background:           #0005;

    /* Showcase */
    --sc_title:                #fff;
    --sc_highlight:            #fa0;
    --sc_lowlight:             #999;
}