:root {
    /* --- HEADER --- */
    --header_height:          50px;
    --header_padding:         5%;
}

html                       { scrollbar-width: thin; scrollbar-color: var(--mainColor) var(--secondColor); }
body                       { margin: 0; padding: 0; }

/* --- HEADER --- */
header                     { width: 100%; height: var(--header_height); padding: 0 var(--header_padding) 0 var(--header_padding); background-color: var(--hd_background); }
header>div                 { width: calc(100% - 2 * var(--header_padding)); display: flex; justify-content: space-between; }
#header-logo img           { height: var(--header_height); filter: drop-shadow(0 0 10px var(--highlight)); }
#header-menu               { height: var(--header_height); width: 50%; display: flex; justify-content: flex-end; align-items: center; }
#header-menu p             { height: var(--header_height); cursor: pointer; display: none; position: absolute; right: 7%; margin: 0; align-items: center; color: var(--highlight); font-size: 1.5em; }
#header-menu a             { height: var(--header_height); padding: 0 25px 0 25px; text-decoration: none; color: var(--highlight); }
#header-menu a div         { height: var(--header_height); display: flex; justify-content: center; align-items: center; transition: .2s; }
#header-menu a:hover div   { color: #fff; filter: drop-shadow(0 0 10px var(--highlight)); }



/* --- QUERIES --- */
@media (max-width: 960px), (orientation: portrait) {
/* ---         MOBILE         --- */
/* --- HEADER (dropdown menu) --- */
#header-menu               { flex-direction: column; justify-content: flex-start; }
#header-menu p             { display: flex; }
#header-menu a             { display: none; padding: 0 10px 0 0; width: calc(100% - 10px); height: 100%; background-color: var(--hd_background); }
#header-menu a:first-child { padding: var(--header_height) 10px 0 0; }
#header-menu:hover a       { display: block; }
#header-menu a div         { justify-content: flex-end; }
}

@media (min-width: 961px)  {
/* ---     DESKTOP      --- */
/* --- HEADER (default) --- */
#header-menu               { flex-direction: row; justify-content: flex-end; }
#header-menu p             { display: none; }
#header-menu a             { display: block; padding: 0 25px 0 25px; width: 150px; background-color: #0000; }
#header-menu a:first-child { display: block; padding: 0 25px 0 25px; }
#header-menu a div         { justify-content: center; }
}