:root {
    /* ---  PAGE  --- */
    --frontier_width:         960px;
    --font_size_ratio:        1;

    /* --- HEADER --- */
    --body_width:             100vw;
    --body_height:            100vh;
    --header_height:          50px;
    --header_padding:         5%;
}

html                       { scrollbar-width: thin; scrollbar-color: var(--mainColor) var(--secondColor); }
body                       { margin: 0; padding: 0; font-size: 1.1em; font-family: "Trebuchet MS", serif; background-size: var(--body_width) var(--body_height); background: radial-gradient(circle, var(--bgg_inner) 0%, var(--bgg_outter) 100%) fixed; }

/* --- HEADER --- */
header                     { z-index: 1; width: var(--body_width); height: var(--header_height); padding: 0 var(--header_padding) 0 var(--header_padding); background-color: var(--hd_background); }
header>div                 { z-index: 1; width: calc(100% - 2 * var(--header_padding)); display: flex; justify-content: space-between; }
#header-logo img           { z-index: 1; height: var(--header_height); filter: drop-shadow(0 0 10px var(--hd_title)); }
#header-menu               { z-index: 1; height: var(--header_height); width: 50%; display: flex; justify-content: flex-end; align-items: center; }
#header-menu p             { z-index: 1; height: var(--header_height); cursor: pointer; display: none; position: absolute; right: 7%; margin: 0; align-items: center; color: var(--hd_title); font-size: 5em; }
#header-menu a             { z-index: 1; height: var(--header_height); font-family: 'Xolonium', sans-serif; padding: 0 25px 0 25px; text-decoration: none; color: var(--hd_title); font-size: calc(var(--font_size_ratio) * 1em); }
#header-menu a div         { z-index: 1; height: var(--header_height); display: flex; justify-content: center; align-items: center; transition: .2s; filter: drop-shadow(0 0 10px var(--hd_title_glow)); }
#header-menu a:hover div   { color: var(--hd_highlight); filter: drop-shadow(0 0 10px var(--hd_highlight)); }

/* ---  PAGE  --- */
p                          { font-size: calc(var(--font_size_ratio) * 1em); }



/* --- QUERIES --- */
@media (min-width: var(--frontier_width)) {
/* ---     DESKTOP      --- */
/* --- HEADER (default) --- */
:root                      { --body_width: 100vw; --body_height: 100vh; --header_height: 50px; --font_size_ratio: 1; }
#header-menu               { flex-direction: row; justify-content: flex-end; }
#header-menu p             { display: none; }
#header-menu a             { display: block; padding: 0 25px 0 25px; width: 150px; background-color: #0000; }
#header-menu a div         { justify-content: center; }
}

@media (max-width: var(--frontier_width)), (orientation: portrait)  {
/* ---         MOBILE         --- */
/* --- HEADER (dropdown menu) --- */
:root                      { --body_width: 100dvw; --body_height: 100dvh; --header_height: 100px; --font_size_ratio: 3; }
#header-menu               { flex-direction: column; justify-content: flex-start; }
#header-menu p             { display: flex; }
#header-menu a             { display: none; padding: 0 10px 0 0; width: calc(100% - 10px); height: 100%; background-color: var(--hd_background); }
#header-menu:hover a       { display: block; }
#header-menu a div         { justify-content: flex-end; }
}