@font-face {
 font-family: "pageFont";
 src: url("../font/lemon-milk/LEMONMILK-Bold.otf");
}

@font-face {
 font-family: "chaps";
 src: url("../font/azonix/Azonix.otf");
}

body{
	background-color: #ffffff;
	margin: 0;

	font-family: pageFont, arial;
}

/* ---HEADER--- */

header{
	display: flex;
	flex-direction: row;
	background-color: #424242;

	width: 100%;
	height: 5vw;
	padding-top: 1%;
}

.logoSite{
	width: 4%;
	height: 4vw;
	margin-left: 2%;
	
	border-radius: 50%; /* temporaire */
}

#bandeau{
	display: flex;
	flex-direction: row;
	width: 80%;
	height: 4vw;
	margin-left: 1%;
	align-items: center;

	border-right: solid 2px #999999;
	border-left: solid 2px #999999;
}

.pageTitre{
	margin-left: 4%;
}

.lienPage{
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 2vw;

	transition: .5s;
}

.underline{
	background-color: #999999;
	width: 0;
	height: .3vw;

	transition: .5s;
}

.pageTitre:hover .underline{
	width: 100%;
	background-color: #ffaa00;
}

.pageTitre:hover .lienPage{
	color: #ffaa00;
}

#nightMode{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 10%;
	height: 4vw;
	margin-left: 1%;
}

#nightModeLune{
	width: 3vw;
	height: 3vw;
	border-radius: 1.5vw;

	background-color: #999999;

	transition: .5s;
}

#nightMode:hover #nightModeLune{
	background-color: #ffaa00;
}

#nightModeLune2{
	width: 2vw;
	height: 2vw;
	margin-left: 1vw;
	border-radius: 1vw;

	background-color: #424242;
}

#nightModeCapsule{
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	padding-right: .5vw;
	padding-left: .5vw;
	width: 5vw;
	height: 3vw;
	border-radius: 1.5vw;

	background-color: #999999;

	transition: .5s
}

#nightMode:hover #nightModeCapsule{
	background-color: #ffaa00
}

#nightModeSlider{
	width: 2vw;
	height: 2vw;
	border-radius: 1vw;

	background-color: #424242;
}






#nomSite{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.initiales{
	width: 3%;
}

#menu{
	/*background-color: pink;*/

	height: 30%;
	margin-top: 3%;

	display: flex;

	transition: 0.5s;
	cursor: pointer;
}

.chapitre{
	position: absolute;

	width: 3%;
	height: 0.7%;

	transition: 0.5s;

	background: linear-gradient(#000, #000 .5vw, #0000 5vw);

	display: flex;
	justify-content: center;

	overflow: hidden;
	text-transform: uppercase;
	color: white;
	white-space: nowrap;
	font-size: 4vw;

	font-family: chaps, arial;
}

/* Chapitres animation */

#chap1{
	margin-left: 48.5%;
	margin-top: 0%;
}

#chap2{
	margin-left: 48.5%;
	margin-top: 1%;
}

#chap3{
	margin-left: 48.5%;
	margin-top: 2%;
}

/* #menu:hover{
	opacity: 50%;
} */

#chest{
	display: flex;
}

#bande{
	width: 15%;
	background-color: #333;
	height: 100vw;
	margin-right: 5%;
}

#tileList{
	display: flex;
	padding: 5%;
	flex-wrap: wrap;
	width: 70%;
	height: 40vw;
}

.tileTitle{
	width: 100%;
}

.tile{
	margin: 1%;
	width: 20vw;
	background-color: #666;

	opacity: 50%;
	height: 10vw;
	transition-duration: 0.5s;

	overflow: hidden;
	text-decoration: none;
	font-size: 1.5vw;
	text-shadow: 0px 0px 1px black;
}

.tile:hover{
	opacity: 100%;
	height: 20vw;

	color: #F90;
}

.tile h2{
	background-color: #4449;
	font-size: 2vw;
}

/* --- Tiles names --- */

.doom{
	background-image: url("../images/tiles/doom.png");
	background-size: 35vw 20vw;
}

.vjing{
	background-image: url("../images/tiles/vjing.jpg");
	background-size: 35vw 20vw;
}

.fractales{
	background-image: url("../images/tiles/fractales.gif");
	background-size: 35vw 20vw;
}

.perma{
	background-image: url("../images/tiles/perma.jpg");
	background-size: 35vw 20vw;
}

.usinage{
	background-image: url("../images/tiles/usinage.jpg");
	background-size: 35vw 20vw;
}

.horror{
	background-image: url("../images/tiles/horror.png");
	background-size: 35vw 20vw;
}

.entomocene{
	background-image: url("../images/tiles/entomocene.jpg");
	background-size: 35vw 20vw;
}

.inksam{
	background-image: url("../images/tiles/inksam.jpg");
	background-size: 35vw 20vw;
}