/* --- VARIABLES --- */
:root{
	/* values */
	--index: 1;
	--offsetX: -3vw;
	--posX: 65vw;
	--offsetY: 20vh;
	--posY: 35vh;
	--fade: 50%;
	--blur: 5px;

	/* colors */
	--color_MainOrange: #ffaa00;
}

/* --- BODY --- */

body{
	overflow-x: hidden;
	overflow-y: hidden;

	background-image: url("../images/index/wallpaper_virgo.png");
}

.background{
	position: absolute;

	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	opacity: 0%;
	transition: 0.5s;
}

/* --- TILE --- */

.tile{
	position: absolute;
	transform-origin: center;
	transition: 0.5s;

	--scale: 20vw;
	width: var(--scale);
	height: calc((var(--scale) / 16) * 9);

	border-radius: 1vw;
	background-color: grey;
	background-repeat: no-repeat;
	background-size: cover;

	/* title */
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: arial;
	font-size: 2vw;
	font-weight: bold;
	text-transform: uppercase;
	color: grey;
	text-decoration: none;
}

.tile:hover{
	color: var(--color_MainOrange);
	--scale: 22vw;
}