header           {
    width: 100%;
    height: 7%;
    position: fixed;
    transition: .5s;
    padding: 0;
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(34,34,34,0) 50%);
}

header img       { height: 100%; mix-blend-mode: multiply; }
header a         { height: 100%; }
header a div     {
    height: 100%;
    color: var(--color_Main);
    cursor: pointer;
    transition: .5s;
}
header a div:hover {
    background-color: var(--color_Main);
    color: var(--color_Grey);
}

.header_selected {
    height: 100%;
    box-sizing: border-box;
    border-bottom: solid 2px var(--color_Main);
}

#bigTitle        {
    position: absolute;
    align-items: end;
    width: 30%;
    height: 1000%;
    right: -10%;
    top: 0;
    background-image: url("../images/logo_black.png");
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: top right;
    background-blend-mode: multiply;
    opacity: 50%;
    transition: .5s;
}

#bigTitle h1, #bigTitle h2, #bigTitle h3 {
    height: 0;
    color: var(--color_White);
}

#screenOff {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("../images/logo_white.png");
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    opacity: 100%;
    transition: .5s;
}