:root {
	--glow-effect:    20px;
	--glow-color:     #0ff;

	--rotX:           10deg;
	--rotY:           0deg;
	--rotZ:           10deg;

	--traX:           -150px;
	--traY:           0px;
	--traZ:           -300px;

	--scaX:           8;
	--scaY:           4;
	--scaZ:           4;
}

#showcase {
	perspective: 300px;
	overflow: hidden;	

	width: 100%;
	height: 66vh;

	background: radial-gradient(ellipse at top right, #f003, transparent),
				radial-gradient(ellipse at bottom left, #0ff3, transparent),
				radial-gradient(ellipse at bottom, #0005, transparent);
	background-color: #0009;
}

#showcase .left-panel {
	padding: 2em;

	position: absolute;
	left: 10%;
	top: 10%;
	transform:
			scale3d(var(--scaX), var(--scaY), var(--scaZ))
			translate3d(var(--traX), var(--traY), var(--traZ))
			rotateX(var(--rotX)) rotateY(var(--rotY)) rotateZ(var(--rotZ));
}

#showcase .left-panel .screen{
	position: absolute;
	width: 192vh;
	height: 108vh;
	top: 0;
	transform: translate3d(-25%, -35%, 0px);
}

#sc-cyan {
	filter: drop-shadow(0 0 10px #0ff5);
	animation: 10s ease 0s infinite alternate sc-cyan;
}
#sc-red {
	filter: drop-shadow(0 0 10px #f005);
	animation: 10s ease .33s infinite alternate sc-red;
}
#sc-glitch0 {
	transform: translate3d(-50%, 20%, 0px) scale(.8, .4) rotateZ(180deg) !important;
	filter: sepia(5) saturate(5) brightness(.5) hue-rotate(-55deg);
}
#sc-glitch1 {
	opacity: 30%;
	transform: translate3d(-30%, -80%, 0px) scale(.8, .4) !important;
	filter: sepia(5) saturate(5) brightness(.5) hue-rotate(-55deg);
}
#sc-glass0 {
	opacity: 60%;
	transform: translate3d(-60%, -35%, 0px) scale(.7) rotateZ(90deg) !important;
}
#sc-glass1 {
	opacity: 60%;
	transform: translate3d(-20%, -50%, 0px) scale(.5) rotateZ(90deg) !important;
}
#sc-portrait {
	transform: translate3d(-7%, -30%, 0px) scale(.25, .9) !important;
}



#showcase p           { margin: 0; color: var(--sc_title); font-family: 'Xolonium', sans-serif; font-weight: bold; white-space: nowrap; filter: drop-shadow(0 0 var(--glow-effect) var(--glow-color)); }
#showcase .highlight  { color: var(--sc_highlight); filter: drop-shadow(0 0 var(--glow-effect) var(--glow-color)); }
#showcase .lowlight   { color: var(--sc_lowlight); filter: drop-shadow(0 0 var(--glow-effect) var(--glow-color)); }

@keyframes test {
	0%   { opacity: 0%; }
	100% { opacity: 100%; }
}

@keyframes sc-cyan {
	0%   { transform: translate3d(  -25%, -35%, 0px); }
	10%  { transform: translate3d(-24.5%, -35%, 0px); }
	20%  { transform: translate3d(  -25%, -35%, 0px); }
	30%  { transform: translate3d(-25.5%, -35%, 0px); }
	40%  { transform: translate3d(-24.5%, -35%, 0px); }
	50%  { transform: translate3d(  -25%, -35%, 0px); }
	60%  { transform: translate3d(-25.5%, -35%, 0px); }
	70%  { transform: translate3d(-24.5%, -35%, 0px); }
	80%  { transform: translate3d(  -25%, -35%, 0px); }
	90%  { transform: translate3d(-25.5%, -35%, 0px); }
	100% { transform: translate3d(  -25%, -35%, 0px); }
}

@keyframes sc-red {
	0%   { transform: translate3d(-25%,   -35%, 0px); }
	10%  { transform: translate3d(-25%, -34.5%, 0px); }
	20%  { transform: translate3d(-25%,   -35%, 0px); }
	30%  { transform: translate3d(-25%, -35.5%, 0px); }
	40%  { transform: translate3d(-25%, -34.5%, 0px); }
	50%  { transform: translate3d(-25%,   -35%, 0px); }
	60%  { transform: translate3d(-25%, -35.5%, 0px); }
	70%  { transform: translate3d(-25%, -34.5%, 0px); }
	80%  { transform: translate3d(-25%,   -35%, 0px); }
	90%  { transform: translate3d(-25%, -35.5%, 0px); }
	100% { transform: translate3d(-25%,   -35%, 0px); }
}