:root {
	--glow-effect:    20px;
	--glow-color:     #0ff;

	--rotX:           10deg;
	--rotY:           0deg;
	--rotZ:           10deg;

	--traX:           -100px;
	--traY:           -100px;
	--traZ:           -350px;

	--scaX:           12;
	--scaY:           6;
	--scaZ:           6;

	--cyberX:         -25%;
	--cyberY:         -35%;
	--decalX:         .5%;
	--decalY:         1%;
}

html { overflow: hidden; }
body { overflow: hidden; }

#showcase {
	perspective: 300px;

	width: 100vw;
	height: 100vh;

	background: radial-gradient(ellipse at top right, #f003, transparent),
				radial-gradient(ellipse at bottom left, #0ff3, transparent),
				radial-gradient(ellipse at bottom, #0005, transparent);
	background-color: #0009;
}

#showcase .left-panel {
	padding: 2em;

	position: absolute;
	left: 10%;
	top: 10%;
	transform:
			scale3d(var(--scaX), var(--scaY), var(--scaZ))
			translate3d(var(--traX), var(--traY), var(--traZ))
			rotateX(var(--rotX)) rotateY(var(--rotY)) rotateZ(var(--rotZ));
}

#showcase .left-panel .screen {
	position: absolute;
	width: 192vh;
	height: 108vh;
	top: 0;
}

#sc-cyan {
	opacity: .8;
	transform: translate3d(var(--cyberX), var(--cyberY), 0);
	filter: drop-shadow(0 0 10px #0ff5) saturate(.5) brightness(2);
	animation: 10s ease 0s infinite alternate sc-cyan;
}
#sc-red {
	transform: translate3d(var(--cyberX), var(--cyberY), 0);
	filter: drop-shadow(0 0 10px #f005) saturate(.5) brightness(2);
	animation: 10s ease .33s infinite alternate sc-red;
}
#sc-glitch0 {
	transform: translate3d(calc(var(--cyberX) - 25%), calc(var(--cyberY) + 55%), 0px) scale(1.2, .4) rotateZ(180deg);
	filter: sepia(5) saturate(5) brightness(.5) hue-rotate(-55deg);
	animation: 2s ease 0s infinite running sc-glitch0;
	animation-timing-function: steps(2, end);
}
#sc-glitch1 {
	opacity: .3;
	transform: translate3d(calc(var(--cyberX) - 5%), calc(var(--cyberY) - 40%), 0px) scale(1.2, .6);
	filter: sepia(5) saturate(5) brightness(.5) hue-rotate(-55deg);
	animation: 2s ease .5s infinite running sc-glitch1;
	animation-timing-function: steps(2, end);
}
#sc-glass0 {
	opacity: .6;
	transform: translate3d(calc(var(--cyberX) - 35%), calc(var(--cyberY) + 0%), 0px) scale(.7) rotateZ(90deg);
}
#sc-glass1 {
	opacity: .6;
	transform: translate3d(calc(var(--cyberX) + 5%), calc(var(--cyberY) - 15%), 0px) scale(.5) rotateZ(90deg);
}
#sc-portrait {
	opacity: .7;
	filter: brightness(1.5);
	transform: translate3d(calc(var(--cyberX) + 18%), calc(var(--cyberY) + 5%), 0px) scale(.22, 1);
}

#showcase p           { margin: 0; color: var(--sc_title); font-family: 'Xolonium', sans-serif; font-weight: bold; white-space: nowrap; filter: drop-shadow(0 0 var(--glow-effect) var(--glow-color)); }
#showcase .highlight  { color: var(--sc_highlight); filter: drop-shadow(0 0 var(--glow-effect) var(--glow-color)); }
#showcase .lowlight   { color: var(--sc_lowlight); filter: drop-shadow(0 0 var(--glow-effect) var(--glow-color)); }

/* --- QUERIES --- */
@media (min-width: var(--frontier_width))  {
/* ---     DESKTOP      --- */
/* --- HEADER (default) --- */
:root                 { --traX: -100px; --traY: -100px; --traZ: -350px; --scaX: 12; }
#sc-portrait          { transform: translate3d(calc(var(--cyberX) + 18%), calc(var(--cyberY) + 5%), 0px) scale(.22, 1); }
#sc-glass1            { transform: translate3d(calc(var(--cyberX) + 5%), calc(var(--cyberY) - 15%), 0px) scale(.5) rotateZ(90deg); }
}

@media (max-width: var(--frontier_width)), (orientation: portrait)  {
/* ---         MOBILE         --- */
/* --- HEADER (dropdown menu) --- */
:root                 { --traX: 0%; --traY: -50%; --traZ: -500px; --scaX: 8; }
#sc-portrait          { transform: translate3d(calc(var(--cyberX) - 10vw), calc(var(--cyberY) + 50%), 0px) scale(.16, .5); }
#sc-glass1            { transform: translate3d(calc(var(--cyberX) - 5%), calc(var(--cyberY) - 35%), 0px) scale(.5) rotateZ(90deg); }
}

@keyframes sc-cyan {
	0%   { transform: translate3d(calc(var(--cyberX) + 0%)           , var(--cyberY), 0); opacity:  1; }
	10%  { transform: translate3d(calc(var(--cyberX) - var(--decalX)), var(--cyberY), 0); opacity: .5; }
	20%  { transform: translate3d(calc(var(--cyberX) + 0%)           , var(--cyberY), 0); opacity: .8; }
	30%  { transform: translate3d(calc(var(--cyberX) + var(--decalX)), var(--cyberY), 0); opacity: .5; }
	40%  { transform: translate3d(calc(var(--cyberX) - var(--decalX)), var(--cyberY), 0); opacity:  1; }
	50%  { transform: translate3d(calc(var(--cyberX) + 0%)           , var(--cyberY), 0); opacity: .5; }
	60%  { transform: translate3d(calc(var(--cyberX) + var(--decalX)), var(--cyberY), 0); opacity: .8; }
	70%  { transform: translate3d(calc(var(--cyberX) - var(--decalX)), var(--cyberY), 0); opacity: .5; }
	80%  { transform: translate3d(calc(var(--cyberX) + 0%)           , var(--cyberY), 0); opacity:  1; }
	90%  { transform: translate3d(calc(var(--cyberX) + var(--decalX)), var(--cyberY), 0); opacity: .5; }
	100% { transform: translate3d(calc(var(--cyberX) + 0%)           , var(--cyberY), 0); opacity: .8; }
}

@keyframes sc-red {
	0%   { transform: translate3d(var(--cyberX), calc(var(--cyberY) + 0%)           , 0); opacity:  1; }
	10%  { transform: translate3d(var(--cyberX), calc(var(--cyberY) - var(--decalY)), 0); opacity: .5; }
	20%  { transform: translate3d(var(--cyberX), calc(var(--cyberY) + 0%)           , 0); opacity: .8; }
	30%  { transform: translate3d(var(--cyberX), calc(var(--cyberY) + var(--decalY)), 0); opacity: .5; }
	40%  { transform: translate3d(var(--cyberX), calc(var(--cyberY) - var(--decalY)), 0); opacity:  1; }
	50%  { transform: translate3d(var(--cyberX), calc(var(--cyberY) + 0%)           , 0); opacity: .5; }
	60%  { transform: translate3d(var(--cyberX), calc(var(--cyberY) + var(--decalY)), 0); opacity: .8; }
	70%  { transform: translate3d(var(--cyberX), calc(var(--cyberY) - var(--decalY)), 0); opacity: .5; }
	80%  { transform: translate3d(var(--cyberX), calc(var(--cyberY) + 0%)           , 0); opacity:  1; }
	90%  { transform: translate3d(var(--cyberX), calc(var(--cyberY) + var(--decalY)), 0); opacity: .5; }
	100% { transform: translate3d(var(--cyberX), calc(var(--cyberY) + 0%)           , 0); opacity: .8; }
}

@keyframes sc-glitch0 {
	from { transform: translate3d(calc(var(--cyberX) - 25%), calc(var(--cyberY) + 55%), 0px) scale(1.2, .4) rotateZ(360deg); }
	to   { transform: translate3d(calc(var(--cyberX) - 25%), calc(var(--cyberY) + 55%), 0px) scale(1.2, .4) rotateZ(0deg);   }
}

@keyframes sc-glitch1 {
	from { transform: translate3d(calc(var(--cyberX) - 5%), calc(var(--cyberY) - 40%), 0px) scale(1.2, .6) rotateZ(360deg); }
	to   { transform: translate3d(calc(var(--cyberX) - 5%), calc(var(--cyberY) - 40%), 0px) scale(1.2, .6) rotateZ(0deg);   }
}