body{
	background-color: #424242;
}

header, footer{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #303030;
	height: 10vw;
}

legend, fieldset{
	color: black;
}

fieldset{
	height: 40vw;
}

#global{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-around; 

	width: 95vw;

	position: absolute;
}

.row{
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 13vw;
	height: 2.5vw;

	border-radius: 1.25vw;

	background-color: #303030;
}

#input{
	background-color: #202020;
}

#code{
	background-color: #202020;
}

.input{
	cursor: pointer;
	transition: .5s;
}

.input:hover{
	border-radius: 20%;
}

.slot{
	width: 2vw;
	height: 2vw;

	border-radius: 50%;

	background-color: #424242;
}

.code{
	background-color: #101010;
}

.slotInfo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	width: 2vw;
	height: 2vw;

	border-radius: 20%;

	background-color: #424242;

	transition: .5s;
}

#okButton{
	cursor: pointer;
}

#okButton:hover{
	background-color: white;
}

#gameState{
	background-color: #101010;
}

.dot{
	width: 1vw;
	height: 1vw;

	border-radius: 50%;

	background-color: #303030;
}

#retour{
	font-size: 3em;
	color: white;
	transition: .5s;
}

#retour:hover{
	color: #ffaa00;
}

.titre{
	color: white;
	font-size: 3em;
}





/* --- REGLES --- */
#regles{
	width: 95vw;
	height: 40vw;

	position: absolute;
}

.regle{
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-size: 2vw;
	color: white;

	background-color: grey;
	border-radius: 2vw;

	position: absolute;
	cursor: default;
}

.regle::selection{
	background-color: none;
	color: none;
}

#r0{
	display: flex;
	padding: 2vw;
	left: 32%;
	top: 25%;
}

#r1{
	display: none;
	left: 0%;
	top: 0%;

	height: 5vw;

	font-size: 1.5vw;
}

#r2{
	display: none;
	left: 0%;
	top: 78%;

	height: 5vw;

	font-size: 1.5vw;
}

#r3{
	display: none;
	left: 57%;
	top: 78%;

	height: 5vw;

	font-size: 1.5vw;
}

#r4{
	display: none;
	left: 57%;
	top: 72%;

	height: 5vw;

	font-size: 1.5vw;
}

#r5{
	display: none;
	left: 32%;
	top: 10%;

	height: 30vw;

	font-size: 2vw;
}

#rInfo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	width: 10vw;
	height: 10vw;

	border-radius: 4vw;
	background-color: #424242;
}

.rSlot{
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	background-color: #303030;
}

#rSlot1{
	background-color: black;
}

#rSlot2{
	background-color: black;
}

#rSlot1{
	background-color: white;
}

#r6{
	display: none;
	left: 41%;
	top: 90%;

	height: 5vw;

	font-size: 2vw;
	transition: .5s;
	cursor: pointer;
}

#r6:hover{
	background-color: #ffaa00;
}