html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

#decorum {
    perspective: 800px;
}

#mainScreen {
    position: absolute;
    background-color: black;
    background-image: url("../images/logo_white.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 2.5s;
    transform: none;
}

#mainScreen:hover {
    filter: sepia(100%) saturate(1000%);
}

#bgScreen, #bgEnvironment {
    position: absolute;
}

#bgEnvironment     {
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
}

.titleStrip {
    width: 100%;
    background-color: #00000055;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130px;
}

.titleStrip div {
    position: absolute;
    background-attachment: fixed;
    background-size: cover;
    height: 130px;
    filter: blur(5px) saturate(0%);
}

.titleStrip h1 {
    height: 0;
    filter: drop-shadow(0 0 10px black);
}

.titleStrip h4 {
    z-index: 10;
}

.context {
    text-align: center;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 100%);
    padding: 10px 0 10px 0;
}

.chapter h2, .chapter h3, legend {
    color: var(--color_Main);
    filter: drop-shadow(0 0 10px black);
}

.chapter p, .chapter fieldset {
    text-align: justify;
    text-justify: inter-word;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 100%);
    padding: 10px 0 10px 0;
    border: none;
}

legend { font-size: 1.5em; }

.media {
    margin-left: 20%;
    width: 60%;
    max-height: 200px;
    object-fit: contain;
}

img { border-radius: 3px; }

#upArrow {
    position: sticky;
    bottom: 0;
    width: 50px;
    transform: rotateZ(-90deg);
    opacity: 50%;
    transition: .5s;
    cursor: pointer;
}

#upArrow:hover {
    opacity: 100%;
    filter: invert(100%) sepia(100%) saturate(500%) drop-shadow(0 0 10px var(--color_Main));
}

.highLight {
    font-style: italic;
    color: var(--color_Second);
}