body{
	font-family: monospace;
}

a:link{
	color: #F90;
}

a:visited{
	color: #FF0;
}

a:hover{
	color: #950;
}

a::selection{
	color: #222;
	background-color: #C70;
}

body{
	background-color: #222;
}

#headfoot{
	border: solid 2px #111;
}

footer, header{
	opacity: 50%;
	color: #000;
}

footer:hover, header:hover{
	animation-duration: 0.5s;
	animation-name: animLogo;
	opacity: 100%;
}

@keyframes animLogo{
	from{
		opacity: 50%;
	}
	to{
		opacity: 100%;
	}
}

#retour{

}

input, button{
	background-color: #333;
	border: none;
	margin: 2px;
}

input[required]{
	font-style: italic;
	color: #D70;
}

fieldset{
	border: solid 2px #111;
	color: #666;
}

ul::selection, ol::selection{
	color: #222;
	background-color: #666;
}

legend{
	color: #C70;
	font-weight: bold;
	font-family: monospace;
}

legend::selection{
	color: #222;
	background-color: #C70;
}

p{
	color: #666;
}

p::selection{
	color: #222;
	background-color: #666;
}

h1, h2, h3, h4, h5, h6{
	color: #C70;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection{
	color: #222;
	background-color: #C70;
}

button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="image"]:hover{
	color: #950;
}

input[type="button"]:hover{
	color: #950;
}

li{
	color: #C70;
}

li::selection{
	color: #222;
	background-color: #C70;
}

script{
	color: #F00;
	background-color: #333;
}

#monPar{
	border: solid 2px #111;
}

iframe{
	width: 50%;
	height: 28vw;
	margin-left: 25%;
	border: none;
}