@font-face {
 font-family: "doom";
 src: url("../../font/doom.ttf");
}
@font-face {
 font-family: "E-Muse-Bold";
 src: url("../../font/E-Muse-Bold.otf");
}

body{
	font-family: monospace;
	background-color: #222;
}

a:link{
	color: red;
	font-variant: small-caps;
}

a:visited{
	color: red;
}

a:hover{
	color: pink;
}

a::selection{
	color: #222;
	background-color: #C70;
}

input, button{
	background-color: #333;
	border: none;
	margin: 2px;
}

input[required]{
	font-style: italic;
	color: #D70;
}

button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="image"]:hover{
	color: #950;
}

input[type="button"]:hover{
	color: #950;
}